body{
  background-color: #ff7757;
  margin: 0px;
  font-family: sans-serif;
  font-variant: small-caps;
}

#head{
  background-color: #ffe3dd;
  width: 100%;
  height: 8vh;
}

p{
  padding: 0px;
  margin: 0px;
}
#account{
  float: right;
  height: inherit;
  line-height: 8vh;
  vertical-align: middle;
  padding-left: 2em;
  padding-right: 2em;
}
#logout{
  float: right;
  height: inherit;
  line-height: 8vh;
  vertical-align: middle;
  padding-left: 2em;
  padding-right: 2em;
}
#logo{
  float: left;
  height: inherit;
  padding-left: 50px;
}
.test{
  border: 1px solid #000;
}

#logo_pic{
  height: inherit;
}
#content_wrapper{
  background-color: #ffe3dd;
  border: 1px solid #000;
  height: 91vh;
  width: 70%;
  margin: auto;
  margin-top: 1px;
}
img{
  padding: 0px;
}
#header1{
  margin: 80px;
}
#header1_text{
  margin: 0px;
  font-weight: lighter;
}
#table{
  margin: auto;
  width: 100%;
}
td img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
td{
  padding: 10px;
  text-align: center;
}
a{
  color: #000000;
  text-decoration: none;
}
.img-circle {
    border-radius: 50%;
}
